



.topnav {
    overflow: hidden;
    background-color: transparent;
  position:absolute;
  top:0px;
  right:80px;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: rgb(230, 165, 140);
    color: black;
  }
  
  .topnav a.active {
    background-color: #a05234;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  *{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
  }
  body,html{
  height: 100%;
  } 
   .navbar-brand {
          color: rgba(255, 0, 0, 0.932);
          font-size: 0px;
          font-family: Georgia, 'Times New Roman', Times, serif;
          letter-spacing: 2px;
          position: absolute;
          top: 20px;
          left: 50px;
  }
  .contact-section{
    background: url("bg.png");
  background-repeat:  no-repeat;
  background-position: center ;
  height: 100%;
    background-size: cover;
    /*padding: 40px 0;*/
  }
  .contact-section h1{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size:52px ;
  }
  .border{
    width: 100px;
    height: 10px;
    background: #34495e;
    margin: 40px auto;
  }
  
  .contact-form{
    max-width: 600px;
  
    padding: 0 10px;
    overflow: hidden;
    margin-left: 50px;
  }
  
  .contact-form-text{
    display: block;
    width: 1000px;
    box-sizing: border-box;
    margin-right: 500px;
    margin: 16px 0;
    margin-left: 50px;
  
    
    
    padding: 20px 40px;
    
    color: rgb(255, 255, 255);
    transition: 0.5s;
    border: solid black 1px;
  
  }
  .contact-form-text:focus{
    box-shadow: 0 0 10px 4px  rgba(255, 192, 167, 0.932);;
  }
  textarea.contact-form-text{
    resize: none;
    height: 120px;
    color: black;
  }
  .contact-form-btn{
    background-color :#51ff00;
    
    color: rgb(255, 0, 0);
    padding: 05px 12px;
    text-align: cente;
    text-decoration: none;
    border: solid  1px ;
    box-shadow: black 1px 3px 10px;
    
    
    display: inline-block;
    font-size: 36px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 250px;
    
  }
  
  .contact-form-btn:hover{
    background:#f59f7d;
  }